[submodule "thirdparty/SpaTrackerV2"]
	path = thirdparty/SpaTrackerV2
	url = https://github.com/henry123-boy/SpaTrackerV2
[submodule "thirdparty/Pi3"]
	path = thirdparty/Pi3
	url = "https://github.com/yyfz/Pi3/tree/main#"
[submodule "thirdparty/lepard"]
	path = thirdparty/lepard
	url = https://github.com/wufan55/lepard/tree/main
